@import url(common/reset.css);
.header {
	/* border: 1px solid; */
	box-sizing: border-box;
}
.header .top-header {
	background-color: #d5400c;
	padding: 10px;
	box-sizing: border-box;
}
.header .bottom-header {
	/* border: 1px solid; */
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-color: #2c2b2b;
}
.header .bottom-header .nav {
	flex: 0 1 1600px;
	/* border: 1px solid; */
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.header .bottom-header .nav h1.logo {
	flex: 0 0 120px;
	height: auto; /*이미지(120*60) -> 부모요소는 height:auto*/
	/* background-color: aquamarine; */
}
.header .bottom-header .nav h1.logo img {
	width: 100%;
	height: auto;
	display: block;
}
.header .bottom-header .nav .gnb {
	flex: 0 1 500px;
	height: auto;
	/* border: 1px solid; */
	box-sizing: border-box;
}
.header .bottom-header .nav .gnb > ul {
	/* border: 1px solid; */
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
}
.header .bottom-header .nav .gnb > ul > li {
	line-height: 60px;
	color: #ffffff;
}
.header .bottom-header .nav .gnb > ul > li > a {
	color: inherit;
}

/*팝업레이어*/
.login-layer {
	width: 100%;
	height: 100vh;
	background-color: #2c2b2b55;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.login-layer .login-form {
	background-color: #ffffff;
	/* display: inherit;
  flex-direction: column; */

	/*기준 요소*/
	position: relative;
}
.login-layer .login-form span.close {
	background-color: #ff0000;
	color: #ffffff;
	display: inline-block;
	padding: 5px;
	/*기준 요소를 중심으로 재배치*/
	position: absolute;
	right: -20px;
	top: 0px;
}

.container {
}
.container .section.sec1 {
	display: flex;
	justify-content: center;

	background-color: antiquewhite;
	padding: 30px 0;
	box-sizing: border-box;
}

/*js_fade_gallery*/
.container .section.sec1 .gallery {
	flex: 0 1 1600px;
	height: 800px;
	border: 1px solid;
	position: relative; /* gallery 기준*/
}
.container .section.sec1 .gallery .gallery-con {
	width: 100%;
	height: inherit;
	/* width: inherit; 부모 요소 크기 상속 */
	/* height: inherit; */
	position: absolute; /*gallery 기준 */
	/* left: 0;
  top: 0; */
}
.container .section.sec1 .gallery .gallery-con > ul {
	width: inherit; /*부모 요소 크기 상속*/
	height: inherit;
}
.container .section.sec1 .gallery .gallery-con > ul > li {
	width: inherit; /*부모 요소 크기 상속*/
	height: inherit;
	position: absolute; /*gallery 기준 */
	/*안보임*/
	/* visibility: hidden;
	transition: all 0.5s;
	opacity: 0; */
	/*투명도 0 */
	/* left: 0;
  top: 0; *?
}
.fadeLi {
	visibility: visible !important; /*보여라*/
	opacity: 1 !important;
}

/* 
.container .section.sec1 .gallery .gallery-con>ul>li:nth-child(1){

  background: url(../img/model0.jpg) no-repeat 50%/cover ;
}
.container .section.sec1 .gallery .gallery-con>ul>li:nth-child(2){

  background: url(../img/model1.jpg) no-repeat 50%/cover ;
}
.container .section.sec1 .gallery .gallery-con>ul>li:nth-child(3){

  background: url(../img/model2.jpg) no-repeat 50%/cover ;
}
.container .section.sec1 .gallery .gallery-con>ul>li:nth-child(4){

  background: url(../img/model3.jpg) no-repeat 50%/cover ;
}
.container .section.sec1 .gallery .gallery-con>ul>li:nth-child(5){

  background: url(../img/model4.jpg) no-repeat 50%/cover ;
} */

.container .section.sec1 .gallery .arrow-con {
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	position: absolute; /*gallery 기준 */
	background-color: #ff000000;
	/* 
    부모의 세로 중앙에 배치하는 방법  
  */
	/* top:50%;
  margin-top: -25px; */
	top: 50%;
	transform: translateY(-50%); /*자동으로 세로중앙 설정*/
	display: flex;
	justify-content: space-between;
}
.container .section.sec1 .gallery .arrow-con span.arrow {
	display: block;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
}
.container .section.sec1 .gallery .arrow-con span.arrow:hover {
	background-color: #cc2b6e;
}
.container .section.sec1 .gallery .item {
	width: 100%;
	position: absolute;
	bottom: 0;
	/* background-color: #cc2b6e; */
	display: flex;
	justify-content: center;
}
.container .section.sec1 .gallery .item .item-con {
	flex: 0 1 auto;
	height: auto;
	/* border: 1px solid; */
	box-sizing: border-box;
	padding: 10px;
}
.container .section.sec1 .gallery .item .item-con ul {
	display: flex;
	justify-content: space-evenly;
	gap: 5px;
}
.container .section.sec1 .gallery .item .item-con ul li {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
}
.container .section.sec1 .gallery .item .item-con ul li:hover {
	background-color: #cc2b6e;
}

.on {
	background-color: #cc2b6e;
}
